<!DOCTYPE html>
<html lang="en">

<!-- head -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Nuevo</title>
</head>
<!-- head -->

<!-- body -->
<body>
    <!-- card-body -->
    <div class="container-fluid">
        <div class="container-center">
            <div class="row">
                <div class="col-12">
                    <div class="row row-cols-1 row-cols-md-2 g-4">
                        <div class="col">
                            <div class="card">
                            <br>
                            <%= image_tag 'image0_0.jpeg' , width: '500px' %>
                            <br>
                                <h5 class="card-title">Nombre: María Rodríguez
                                                        <br>
                                                        Edad: 30 años
                                                        <br>
                                                        Residencia: Buenos Aires, Argentina</h5>
                            <br>
                                <p class="card-text">Resumen profesional:
                                                        María Rodríguez es una apasionada desarrolladora de Ruby on Rails con más de 5 años de experiencia en la creación de aplicaciones web robustas y escalables. Su enfoque se centra en la entrega de soluciones técnicas de alta calidad que satisfagan las necesidades de los clientes y los usuarios finales. María tiene un historial comprobado de colaboración efectiva en equipos de desarrollo ágiles y está constantemente buscando mejorar sus habilidades y mantenerse actualizada en las últimas tendencias tecnológicas.</p>
                            </div>
                            <style>
                                .card {
                                    width: 500px;
                                    margin: 0 auto;
                                    border: 0px;
                                }
                            </style>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- card-body -->
</body>
<!-- body -->    

</html>