<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card mb-3">
                <%= image_tag 'Cuppon.jpg', width: "800px" %>
                <div class="card-body">
                <h5 class="card-title">Cuppon Page</h5>
                <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                <a href="#" class="btn btn-primary">Ver más</a>
            </div>
            <br>
            <br>
            <div class="card mb-3">
                <%= image_tag 'OliviaPage.jpg', width: "800px" %>
                <div class="card-body">
                <h5 class="card-title">Olivia Page</h5>
                <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                <a href="#" class="btn btn-primary">Ver más</a>
            </div>
            <br>
            <div class="card mb-3">
                <%= image_tag 'Ricomida.jpg', width: "800px" %>
                <div class="card-body">
                <h5 class="card-title">Ricomida Page</h5>
                <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                <a href="#" class="btn btn-primary">Ver más</a>
            </div>
            <style>
                .card {
                    width: 800px;
                    margin: 0 auto;
                    border: 0px;
                }
            </style>
            <br>
        </div>
    </div>
</div>
